.container{
  height: 100vh;
}
.header{
  height: 25%;
  background-color: aqua;
}
.footer{
  background-color: indigo;
  height: 25%;
}
.footerText{
  color: white;
  font-size: 25px;
  text-align: center;
}